<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="DB">
    <Parameter Name="MongoConnectionString" Value="mongodb://team14-ldn0618:KzHvJfi5UrU6ngmfp4P48B5oyF9M4WJO3FOemmVPfQWZTO5W7JblEDoh9cqskV3pgiqpyOZzv8DRH472U9wFLw==@team14-ldn0618.documents.azure.com:10255/?ssl=true&#38;replicaSet=globaldb" />
    <Parameter Name="MongoEnableSSL" Value="true" />
  </Section>
</Settings>
